/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: sans-serif;
  height: 100%;
  padding: 20px 0;
  position: fixed;
  width: 100%;
}

header {
  background-color: royalblue;
}

nav {
  height: 90px;
}

.home {
  margin: 0 auto;
  width: 90%;
}

.logo-container {
  float: left;
  width: 160px;
}

.navs {
  float: right;
  padding: 37px 0;
}

.navs li {
  display: inline-block;
  margin-left: 18px;
}

.selected {
  color: blueviolet;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Footer ul {
  list-style-type: none;
}
